<div class="container text-center w-100">
    <h1 class="mb-1">Favourite Links</h1>
    <h3 class="mb-5">
        <em>Store your favourite links or notes</em>
    </h3>
    <h5 class="mb-5">
        <em>Página en construccion.</em>
        <em>Ultimo update. 17/2</em>
    </h5>
    {{!-- class="btn btn-primary" --}}
    <a href="/signin" class="btn">
        Empezar
    </a>

    <h5 class="mt-5">
        <em><strong>© 2019 Copyright: Nicolas Marino</strong></em>
    </h5>

</div>