<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center w-100">
            <h1 class="mb-1">Favourite Links</h1>
            <h3 class="mb-5">
                <em>Store your favourite Notes</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
            Let's get started
            </a> 
            <h5 class="mt-5">
                <em><strong>© 2018 Copyright: Nicolas Marino</strong></em>
            </h5>
            
        </div>
    </header>
</main>