#Git ignore..

do-things/src/keys.js
noname/src/keys.js
do-things/dataTest2.json
do-things/dataTest.json
do-things/cotizaciones2.xlsx
do-things/cotizaciones.xls
do-things/node_modules
noname/node_modules