
/*#region main*/
html{
	min-height: 100%; 
	
	position: relative;
}
body{
	background: #E1E9EA;
	/* background-image: url('/img/image-bg.png');
	background-position: center center;
    background-repeat: no-repeat; */
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    width: 100vw;
	height: 100%;
    /* background-size: 400% 400%; */
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}
.container{
	margin-bottom: 75px;
}
.card{
	transition: max-height 500ms cubic-bezier(.39,.575,.565,1),opacity 200ms cubic-bezier(.39,.575,.565,1);
}
footer{
	width: 100%;
	position: absolute;
	bottom: 0;    
	background-color: #1a1a1a;
	height: 75px;
	padding-top: 25px;
}
.copyright p {
	color: #fff;
	font-size: 16px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/*#endregion main*/


/*#region navbar*/

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}

.navbar-custom .navbar-nav .nav-link {
    color: black;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

.navbar-custom .dropdown-menu {
    background-color: black;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
	background: transparent;
	
}
.navbar-custom .dropdown-item {
    color: white;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

/*#endregion navbar*/

/*#region index*/
.index-custom{
	color: black;
}
.index-btn{
	font-size: 18px;
	border-radius: 0px 19px 0px 19px;
	-moz-border-radius: 0px 19px 0px 19px;
	-webkit-border-radius: 0px 19px 0px 19px;
	border: 1px solid black;
}
.index-btn:hover{
	box-shadow: 0 0 20px black; 
}
/*#endregion index*/

/*#region media queries*/
@media (max-width: 992px){
    .copyright p{
        font-size: 14px;
    }
}
/*#endregion index*/

/*#region */
.all {
	display: flex;
	perspective: 10px;
	transform: perspective(300px) rotateX(5deg);
	will-change: perspective;
	perspective-origin: center center;
	transition: all 1.3s ease-out;
	justify-content: center;
	transform-style: preserve-3d;
  }
  
  .all:hover {
	perspective: 1000px;
	transition: all 1.3s ease-in;
	transform: perspective(10000px) rotateX(0deg);
  }
  .all:hover .text {
	opacity: 1;
  }
  .all:hover > div {
	opacity: 1;
	transition-delay: 0s;
  }
  .all:hover .explainer {
	opacity: 0;
  }
  
  .left, .center, .right {
	width: 300px;
	height: 250px;
	transform-style: preserve-3d;
	border-radius: 10px;
	border: 1px solid #fff;
	box-shadow: 0 0 20px 5px green;
	opacity: 0;
	transition: all 0.3s ease;
	transition-delay: 1s;
	position: relative;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgb(96, 172, 202);
	cursor: pointer;
	background-blend-mode: color-burn;
  }
  .left:hover, .center:hover, .right:hover {
	box-shadow: 0 0 30px 10px green;
	opacity: 0;
  }
  
  .text {
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease;
	bottom: 0;
	left: 5px;
	position: absolute;
	will-change: transform;
	color: black;
	text-shadow: 0 0 5px rgba(100, 237, 255, 0.6);
  }

  .left {
	transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
	background-image: url();
  }
  
  .center {
	opacity: 1;
	background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
  }
  
  .right {
	transform: translateX(30px) translateZ(-25px) rotateY(5deg);
	background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
  }

  .explainer {
	font-weight: 300;
	font-size: 2rem;
	color: black;
	transition: all 0.6s ease;
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: black;
	border-radius: 10px;
	text-shadow: 0 0 10px green;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
/*#endregion */

/*#region */
/*#endregion */
