<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Do Things</title>
    {{!-- GOOGLE FONTS--}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    {{!-- BOOTSTRAP 4--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    {{!-- ICONS --}}
    <link rel="stylesheet" href="/css/bootstrap.css">
    {{!-- STYLES --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
</head>
<body>
    {{> navigation}}
    
    {{> message}}

    {{{ body }}}
    {{!-- SCRIPTS --}}
    <script src="/js/jquery.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> --}}
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/locales/bootstrap-datetimepicker.es.js"></script>
    <footer>
        <div class="col-md-6">
            <div class="copyright">
                <p>Copyright ©<a href="#"> Nicolas Marino</a> 2019</p>
            </div>
        </div>
        <div class="col-md-6"></div>
    </footer>
</body>
</html>