<div class="container text-center w-100">
   
    <h1 class="mb-5 index-custom">
        <em>Guarda tus links favoritos</em>
    </h3>
    <h5 class="mb-5 index-custom">
        <em>Página en construcción.</em>
        <em>Ultimo update. 21/2</em>
    </h5>
    {{!-- class="btn btn-primary" --}}
    <a href="/signin" class="btn index-custom index-btn">
        Empezar
    </a>
    
</div>