body{
    background: linear-gradient(-50deg, #007C7F, #66AFBF,#88EAFF,#007C7F);
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    height: 100vh;
    background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.index{
    width: 100vw;
    height: 100vh;
}
.masthead{
    width: 100%;
    height: 100%;    
}

.navbar a{
    color: black;
}
.masthead h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px){
    .masthead h1{
        font-size: 5.5rem;
    }
}